.supMain {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
}

.supreport {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
}

.form-container-sup {
    width: 450px;
    background-color: black;
    border: 3px solid white;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black, 2px 2px 2px 0 #1b1b1b;
    padding: 10px;
    color: white;
}

.register-form-sup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.success-message-sup {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
}

.form-field-sup {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;
    font-family: "Roboto", sans-serif;
    background: white;
    color: black;
}

span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
}

input {
    background: grey;
    border-radius: 5px;
    outline: none;
    color: white;
    border: 2px solid darkgreen !important;
}

input::placeholder {
    color: white;
    opacity: 0.5;
}

.error {
    border-style: solid;
    border: 2px solid #ffa4a4;
}

button {
    background: #4caf50;
    color: white;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.btngroup-sup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cancel-sup {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(173, 25, 25);
    color: white;
    text-decoration: none;
}

.submit-sup {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.edit-sup {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(17, 146, 45);
    color: white;
    text-decoration: none;
}

.title-sup {
    margin-top: 20px;
    border: 2px solid blue;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
}

.logos-sup {
    position: absolute;
    top: 0px;
    right: -180px;
    width: 500px;
    height: 80px;
}

.lble-sup {
    font-size: 14px;
    font-family: 'poppin';
}

.image01-sup {
    width: 200px;
    height: 180px;
}

.btn {
    padding: auto;
}


/* .container-left {
    margin-left: 400px;
} */

.container-right-sup {
    margin-left: 245px;
    margin-top: 60px;
}

.landing-image-sup {
    margin-right: 20px;
    margin-left: 20px;
}

.btn-image-sup {
    margin-right: 20px;
}

.search_box-sup {
    margin-top: -450px;
    margin-left: 800px;
}

.search_box-sup .inputReportSearch-sup {
    background-color: rgb(10, 10, 10);
    height: 50px;
    width: 300px;
    padding: 10px 30px;
}

.ReportButton-sup {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background: #1b1b1b;
    border: solid;
    border-color: red;
    border-radius: 5px;
    overflow: hidden;
    font-family: poppin;
    font-size: 16px;
    font-weight: bold;
    margin: 0 30px;
}

.buttonPosition-sup {
    margin-left: 70px;
    margin-top: 70px;
}

.ReportButton-sup .button-text-sup,
.ReportButton-sup .button-icon-sup {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%;
}

.ReportButton-sup .button-icon-sup {
    font-size: 1.5em;
    background-color: #1b1b1b;
    color: white;
    border-left: solid;
    border-color: red;
}

.table-sup {
    border: 2px solid #999;
    padding: 0.5rem;
    color: black;
    font-size: 14px;
    background-color: white;
    width: auto;
}

td,
th {
    border: 1px solid #999;
    padding: 0.5rem;
    width: auto;
    height: 40px;
}

.tablealign-sup {
    margin-bottom: 100px;
}

.searchSupplier input::placeholder {
    color: "black"
}

.Reportbutton {
    background-color: transparent;
    border: 2px solid rgb(14, 13, 13);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dash {
    width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 370px;
}